/*Preset body*/
body {
    margin: 0;
    background-color: #4EA685;
    font-family: 'Times New Roman', 'Arial';
}

header{
    display: grid;
    color: white;
    height: 5em;
}

header a{
    text-decoration: none !important;
    color: white;
    cursor: pointer;
}

header a:hover{
    color: lightgrey;
}

/*Scritta petsparadise*/
.logo{
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 2em;
    padding: 0.7em 0.5em 0 0.5em;
    z-index: 1;
}

/*Background menu*/
.menu{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    font-size: 1.1em;
    padding-right: 4em;
}

.menu li{
    position: relative;
    padding: 1em;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em 1em 0 0;
    min-height: calc(100vh - 5em);
}

.title{
    padding-bottom: 3%;
}

#sensore-valore{
    padding-bottom: 1%;
}

.container-table{
    display: block;
    width: 100%;
    padding: 5%;
}

#container-chart{
    display: block;
    width: 90%;
    aspect-ratio: 16 / 10;
    max-height: 700px;
}